<div class='base-menu base-frame'>
  <h3 class='border-bottom margin-bottom'>Blackbird</h3>
  <ul class='menu-items'>
    <li><a href='#' id='startButton' class='button'>New Game</a></li>
    <li><a href='#' id='continueButton' class='button'>Continue Game<span class='game-name'></span></a></li>
    <li><a href='#' id='loadButton' class='button'>Load Game</a></li>
    <li><a href='#' id='optionsButton' class='button'>Options</a></li>
    <li><a href='#' id='exitButton' class='button'>Exit Game</a></li>
    <li id='separator' class='hide'></li>
    <li><a href='#' class='hide start-fixture button' data-fixture='dungeon'>[Dungeon]</a></li>
    <li><a href='#' class='hide start-fixture button' data-fixture='battle'>[Battle]</a></li>
    <li><a href='#' class='hide start-fixture button' data-fixture='training'>[Training]</a></li>
  </ul>
</div>
