<div id="battleView" class="root-element inspect-mode">

  <div id="formationPanel">
    <div id="monsterFormation" class='formation'></div>
    <div id="partyFormation" class='formation'></div>
  </div>

  <div id="textPanel" class="base-frame bottom-panel">
    <div id="textScroll">
      <div id="battleText"></div>
    </div>
  </div>

  <div id="commandPanel" class="base-frame bottom-panel hide">
    <div id='title'></div>
    <div id='commandArea' class='commands'></div>
    <div id='utilityArea' class='commands'></div>
    <div id='cancelArea'>
      <a href='#' class='cancel-button button button-warning'>Back</a>
    </div>
  </div>

</div>
