<div id="battleView" class="root-element normal-mode">

  <div id="formationPanel">
    <div id="monsterFormation"></div>
    <div id="partyFormation"></div>
  </div>

  <div id="textPanel" class="base-frame bottom-panel">
    <div id="textScroll">
      <div id="battleText"></div>
    </div>
  </div>

  <div id="commandPanel" class="base-frame bottom-panel hide">
    <div id='title'></div>
    <div id='commandArea'></div>
    <div id='utilityArea'></div>
    <div id='cancelArea'>
      <a href='#' class='cancel-button button button-warning'>Back</a>
    </div>
  </div>

</div>
