<div class='overlay no-footer'>
  <div class='main-panel'>

    <div class='actor-row'>
      <div class='full-name'></div>
      <div class='gender'></div>
      <div class='species'></div>
    </div>

    <div class='row-of-panels'>
      <div class='panel health-panel'>
        <div class='health'></div>
        <div class='stamina'></div>
        <div class='arousal'></div>
        <div class='pleasure'></div>
        <div class='extra'></div> <!-- Refectory / Edging. Really only applicable in training. -->
      </div>

      <div class='panel mana-panel'>
        <div class='red'></div>
        <div class='yellow'></div>
        <div class='green'></div>
        <div class='blue'></div>
        <div class='black'></div>
      </div>

      <div class='panel feelings-panel'>
        <div class='control'></div>
        <div class='affection'></div>
        <div class='respect'></div>
        <div class='fear'></div>
      </div>

      <div class='panel attributes-panel'>
        <div class='strength'></div>
        <div class='dexterity'></div>
        <div class='vitality'></div>
        <div class='intelligence'></div>
        <div class='beauty'></div>
      </div>
    </div>

    <div class='block'>
      <div class='block-label'>Aspects</div>
      <div class='aspects-area'></div>
    </div>

    <div class='block'>
      <div class='block-label'>Marks</div>
      <div class='marks-area'></div>
    </div>

    <div class='block'>
      <div class='block-label'>Sexual Preferences</div>
      <div class='sexual-preferences-area'></div>
    </div>

    <div class='block'>
      <div class='block-label'>Sensitivities</div>
      <div class='sensitivities-area'></div>
    </div>

    <div class='block'>
      <div class='block-label'>Anima</div>
      <div class='anima-area'></div>
    </div>

    <div class='block'>
      <div class='block-label'>Animus</div>
      <div class='animus-area'></div>
    </div>

    <div class='block'>
      <div class='block-label'>Skills</div>
      <div class='skills-area'></div>
    </div>

    <div class='block'>
      <div class='block-label'>Description</div>
      <div class='description-area'>[TODO: Big long descriptions]</div>
    </div>
  </div>
  <div class='side-panel'>
    Character Interactions
  </div>
</div>
