<div id='enlightenView' class='root-element'>

  <div class='big-margin'>
    <div class='revived panel hide'></div>

    <div class='skill-improvements panel hide'>
      <div class='title'>Your skills have improved</div>
      <ul class='character-grid'></ul>
    </div>

    <div class='essence-bars panel hide'>
      <div class='title'>You absorb essence from the slain monsters</div>
      <ul class='character-grid'></ul>
    </div>

    <div class='button-row align-right'>
      <a href='#' class='button button-primary continue-button'>Continue</a>
    </div>
  </div>

</div>

