<div id='enlightenView' class="root-element">

  <div class='base-frame margin'>

    <div class='enlighten-results'>
      <div class='essence-summary'></div>
      <div class='revived-summary'></div>
      <div class='results-table-area'></div>
    </div>

    <div class='enlighten-level-up hide'>
      <h1 class='level-up-title'></h1>
      <div class='level-up-summary'></div>
      <div class='attribute-picks'></div>
      <div class='level-up-result hide'></div>
    </div>

  </div>

  <div class='button-row'>
    <a href='#' class='button button-advance hide'>Level Up</a>
    <a href='#' class='button button-complete hide'>Complete</a>
  </div>

</div>

