<div class='inventory-panel'>

  <div class='inventory-main'>
    <div class='item-list-frame'>
      <ul class='item-list'></ul>
    </div>
    <div class='button-row small-padding-top'>
      <a href='#' class='button button-small equip-button'>Equip</a>
      <a href='#' class='button button-small use-button'>Use</a>
      <a href='#' class='button button-small drop-button'>Drop</a>
      <a href='#' class='button button-small trade-button'>Trade</a>
    </div>
  </div>

  <div class='trade-panel hide'>
    <div class='trade-title'>Give to...</div>
    <ul class='destination-list'></ul>
  </div>

</div>
