<div id='application'>
  <div id='mainContent'></div>
  <div id='gameStateFrame'></div>
  <div id='effectArea'></div>
  <div id='mainCover'></div>
  <div id='overlayCover' class='hide'></div>
  <div id='haltCover' class='hide'></div>
  <div id='optionsOverlay' class='hide'></div>
  <div id='characterOverlay' class='hide'></div>
  <div id='partyOverlay' class='hide'></div>
  <div id='generalOverlay' class='hide'></div>
  <div id='casementsArea'></div>
  <div id='tooltipFrame' class='hide'></div>

  <div id='negotiationOverlay' class='hide'>
    <div id='negotiationFrame' class='base-frame'>
      <div class='dialog'></div>
      <ul class='options'></ul>
    </div>
  </div>

  <div id='selectFrame' class='hide'>
    <ul class='select'></ul>
  </div>

  <ul id='centerAlerts'></ul>
  <ul id='sideAlerts'></ul>
  <ul id='eventAlerts'></ul>

  <div id='console' class='hide'>
    <div class='console-log-container'>
      <ul id='consoleLog'></ul>
    </div>
    <div class='bottom-bar'>
      <span class='dolla'>$</span>
      <input id='commandInput' type='text'/>
    </div>
  </div>

  <div id='confirmationDialog' class='hide'>
    <div class='confirm-window'><div class='content'></div></div>
    <div class='confirm-buttons'>
      <a href='#' class='button button-big no-button'>No</a>
      <a href='#' class='button button-big button-primary yes-button'>Yes</a>
    </div>
    <div class='cover'></div>
  </div>

  <div id='menuCover' class='hide'></div>
  <div id='mainMenu'></div>

  <div id='preload' style='position:fixed; top:-10px; font-size:1px;'>
    <span class='font-habibi'>(.Y.)</span>
    <span class='font-roboto-bold'>(.Y.)</span>
    <span class='font-roboto-medium'>(.Y.)</span>
    <span class='font-roboto'>(.Y.)</span>
    <span class='font-roboto-light'>(.Y.)</span>
    <span class='font-roboto-thin'>(.Y.)</span>
    <span class='font-roboto-mono-bold'>(.Y.)</span>
    <span class='font-roboto-mono-medium'>(.Y.)</span>
    <span class='font-roboto-mono'>(.Y.)</span>
    <span class='font-roboto-mono-light'>(.Y.)</span>
    <span class='font-roboto-mono-thin'>(.Y.)</span>
  </div>

  <div id='backgroundImage' class='background-image'></div>
</div>
