<div>
  <div class='overlay-header narrow'>
    <ul class='tab-control' data-container='options'>
      <li class='tab active' data-tab='gameplay'>Gameplay</li>
      <li class='tab' data-tab='key-bindings'>Key Bindings</li>
    </ul>
  </div>

  <div class='overlay narrow with-header'>
    <div id='optionsContainer' class='tab-container' data-container-name='options'>

      <div class='tab-content active padding' data-tab='gameplay'>

        <div class='options-area'>
          <h3 class="border-bottom">Difficulty</h3>
          <p class='fg-very-weak small-margin-top big-margin-bottom'>
            These values effect your characters, so higher values will make the game easier.
          </p>
          <div class='slider-grid'>
            <div class='label'>Damage</div>
            <div id='damageSlider'></div>
            <input id='damageInput'/>
            <div class='label'>Health</div>
            <div id='healthSlider'></div>
            <input id='healthInput'/>
            <div class='label'>Resistance</div>
            <div id='resistanceSlider'></div>
            <input id='resistanceInput'/>
          </div>
        </div>

      </div>

      <div id='keyBindings' class='tab-content padding' data-tab='key-bindings'>
        <h3 class='border-bottom margin-bottom'>Key Bindings</h3>
      </div>

    </div>
  </div>

  <div class='overlay-footer narrow button-row'>
    <a href='#' class='close-button button'>Close</a>
    <a href='#' class='save-button button button-primary'>Save</a>
  </div>
</div>
