<div id='reports' class='root-element'>

  <div class='base-frame margin'>
    <ul id='mainList'>
      <li><a href='#' class='show-sub-list' data-sub='sexActionReports'>SexAction</a></li>
    </ul>
  </div>

  <div class='flex'>
    <div id='subLists' class='base-frame margin hide'>

      <div id='sexActionReports' class='sub-list hide'>
        <h3 class='border-bottom'>SexAction Reports</h3>
        <ul class='margin-left'>
          <li><a href='#' class='sort-actions' data-sort='consentTarget'>consentTarget</a></li>
          <li><a href='#' class='sort-actions' data-sort='techniqueTarget'>techniqueTarget</a></li>
          <li><a href='#' class='sort-actions' data-sort='time'>time</a></li>
          <li><a href='#' class='sort-actions' data-sort='playerStamina'>playerStamina</a></li>
          <li><a href='#' class='sort-actions' data-sort='partnerStamina'>partnerStamina</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.anus'>sensation.anus</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.cervix'>sensation.cervix</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.clit'>sensation.clit</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.nipple'>sensation.nipple</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.throat'>sensation.throat</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.cock'>sensation.cock</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.prostate'>sensation.prostate</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.urethra'>sensation.urethra</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.pussy'>sensation.pussy</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.anger'>sensation.anger</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.comfort'>sensation.comfort</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.desire'>sensation.desire</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.shame'>sensation.shame</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.submission'>sensation.submission</a></li>
          <li><a href='#' class='sort-actions' data-sort='sensation.suffering'>sensation.suffering</a></li>
          <li><a href='#' class='sort-actions' data-sort='player.anus'>player.anus</a></li>
          <li><a href='#' class='sort-actions' data-sort='player.cervix'>player.cervix</a></li>
          <li><a href='#' class='sort-actions' data-sort='player.clit'>player.clit</a></li>
          <li><a href='#' class='sort-actions' data-sort='player.nipple'>player.nipple</a></li>
          <li><a href='#' class='sort-actions' data-sort='player.throat'>player.throat</a></li>
          <li><a href='#' class='sort-actions' data-sort='player.cock'>player.cock</a></li>
          <li><a href='#' class='sort-actions' data-sort='player.prostate'>player.prostate</a></li>
          <li><a href='#' class='sort-actions' data-sort='player.urethra'>player.urethra</a></li>
          <li><a href='#' class='sort-actions' data-sort='player.pussy'>player.pussy</a></li>
          <li><a href='#' class='sort-actions' data-sort='player.desire'>player.desire</a></li>
        </ul>
      </div>

    </div>
    <div id='output' class='base-frame margin hide'></div>
  </div>

</div>
