<div id="trainingView" class="root-element">

  <div class="top-row-panel">
    <div class="status-panel panel">Status</div>
    <div class="position-panel panel">Position</div>
  </div>

  <div class="action-menu-panel painal">
    <ul class="top-category-toggles painal">
      <li>Top</li>
      <li>Top</li>
      <li>Top</li>
    </ul>
    <ul class="side-category-toggles painal">
      <li>Side</li>
      <li>Side</li>
      <li>Side</li>
    </ul>
    <div class="action-list-panel painal">
      <ul>
        <li>Action</li>
        <li>Action</li>
        <li>Action</li>
        <li>Action</li>
        <li>Action</li>
        <li>Action</li>
        <li>Action</li>
        <li>Action</li>
        <li>Action</li>
        <li>Action</li>
        <li>Action</li>
      </ul>
    </div>
  </div>

  <div class="persisted-actions-panel painal"></div>

</div>
