<div id="trainingView" class="root-element">

  <div class="top-row-panel">
    <div class="status-panel">

      <div class="player-status">[Player Status. Doesn't need to show much. Maybe just health and stamina.]</div>

      <div class="partner-status">
        <div class="name-row">
          <span class="name"></span>
          <span class="status-effects"></span>
          <span class="name"></span>
        </div>
      </div>

    </div>
    <div class="position-panel"></div>
  </div>

  <div class="action-panel">
    <ul id="topToggles" class="top-category-toggles"></ul>

    <div class="action-main-area">
      <ul id="sideToggles" class="side-category-toggles"></ul>

      <div class="action-list-panel">
        <ul id="actionList"></ul>
      </div>
    </div>
  </div>

  <div class="persisted-actions-panel"></div>
  <div class="output-text-panel"></div>
</div>
