<div class='game-state-frame'>
  <div class='left fixed-size'>
    <div class='chunk name'>[Name]</div>
    <div class='chunk status'>[Status]</div>
  </div>
  <div class='center'>
    <div class='status-bar chunk health'>[Health]</div>
    <div class='status-bar chunk stamina'>[Stamina]</div>
    <div class='status-bar chunk mana'>[Mana]</div>
    <div class='status-bar chunk arousal'>[Arousal]</div>
  </div>
  <div class='right fixed-size'>
    <div class='chunk time'>[Time]</div>
    <div class='chunk location'>[Location]</div>
  </div>
</div>
