@use "../variables";

#battleView {

  #formationPanel {
    margin: 50px;

    #monsterFormation {
      margin-bottom: 50px;
    }

    .rank {
      display: flex;
      justify-content: center;
    }

    .position {
      box-sizing: border-box;
      height: 80px;
      width: 80px;
      background-color: rgba(0,0,0,0.6);
      margin: 2px;
      border: variables.$border-light;
      box-shadow: variables.$shadow-frame;
    }
    .position.acting {
      border-color: rgba(100,33,0,0.75);
    }

    .monster, .character {
      box-sizing: border-box;
      cursor: pointer;
      height: 79px;
      width: 79px;
      padding: 5px;
      font-size: variables.$fs-tiny;
      font-family: "habibi", sans-serif;
      text-align: center;
      overflow: hidden;
      &:hover { background-color: rgba(20,20,30,0.75); }
    }

  }

  .bottom-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    margin: 50px;
    padding: 0;
  }

  #commandPanel {

  }

  #textPanel {

    cursor: pointer;

    #battleText {
      text-align: center;
      padding: 20px;
      font-size: variables.$fs-bigger;
      font-family: "habibi", sans-serif;
    }
  }

}

