@use "../variables";

$roll-border: rgba(57,59,73,0.75);
$roll-title: rgb(80,84,115);
$roll-low: rgb(120,120,150);
$roll-low-bright: rgb(150,150,200);
$roll-high: rgb(200,200,250);
$roll-high-bright: rgb(250,250,250);


#battleView {

  #formationPanel {
    margin: 50px;

    #monsterFormation {
      margin-bottom: 50px;
    }

    .rank {
      display: flex;
      justify-content: center;
    }

    .position {
      box-sizing: border-box;
      height: 120px;
      width: 120px;
      background-color: rgba(0,0,0,0.6);
      margin: 2px;
      border: variables.$border-light;
      box-shadow: variables.$shadow-frame;
      overflow: hidden;
    }
    .position.acting {
      border-color: rgba(250,180,160,0.75);
    }

    .monster, .character {
      box-sizing: border-box;
      height: 118px;
      width: 118px;
      padding: 5px;
      font-size: variables.$fs-tiny;
      font-family: "habibi", sans-serif;
      text-align: center;
      overflow: hidden;
      background-color: black;

      .name {
        height: 20px;
        white-space: nowrap;
        overflow: hidden;
      }
      .status-panel {
        display: flex;
        height: 67px;
        overflow: hidden;
      }
      .status-effect-icon {
        margin-right: 5px;
        height: 32px;
        width: 32px;
        background-size: 32px 32px;
        border: variables.$border-normal;
        border-radius: 3px;
      }

      &.dead {
        filter: grayscale(1);
        transition-property: opacity;
        transition-timing-function: ease-out;
        transition-duration: 1000ms;
        opacity: 1;
      }
      &.dead.removed {
        opacity: 0;
      }

      &.moving {
        position: absolute;
        z-index: variables.$z-effects;
        transition-property: left, top;
        transition-duration: 500ms;
        transition-timing-function: ease-in-out;
      }
    }

  }

  .bottom-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 300px;
    margin: 50px;
    padding: 0;
  }

  #commandPanel {
    display: flex;
    flex-direction: column;

    #title {
      margin: 10px;
      font-size: variables.$fs-bigger;
      border-bottom: variables.$border-heavy;
    }

    #commandArea {
      margin: 0 10px;
      flex-grow: 1;
    }

    #utilityArea {
      margin: 10px;
    }

    #cancelArea {
      margin: 0 10px;
      display:none;
    }

    .commands {
      a { margin-right: 5px }
    }
  }

  #textPanel {
    cursor: pointer;

    #battleText {
      text-align: center;
      padding: 20px;
      font-size: variables.$fs-bigger;
      //font-family: "habibi", sans-serif;
    }

    .roll-display {
      display: inline-block;
      padding: 5px;
      margin: 10px;
      text-align: left;
      border: 1px solid $roll-border;
      border-radius: 10px;
      font-size: variables.$fs-small;

      .title {
        color: $roll-title;
        border-bottom: 1px solid $roll-border;
        font-family: roboto-bold, sans-serif;
      }



      .attack-roll, .defend-roll {
        margin: 0 20px;
        font-family: roboto, sans-serif;
        &.low {
          color: $roll-low;
          .bright { color: $roll-low-bright; }
        }
        &.high {
          color: $roll-high;
          .bright { color: $roll-high-bright; }
        }
      }
    }
  }
}




#battleView.normal-mode {
  #formationPanel {
    .position.occupied:hover {
      background-color: rgba(30,30,45,0.66);
      cursor: pointer;
    }
  }
}

#battleView.target-mode {

  #commandPanel {
    #commandArea { display:none; }
    #utilityArea { display:none; }
    #cancelArea { display:block; }
  }

  #formationPanel {
    .position.valid-target {
      background-color: rgba(20,20,30,0.66);
      cursor: pointer;
    }
    .position.valid-target:hover { background-color: rgba(40,40,60,0.66); }
    .position.invalid-target { opacity: 0.4; }
    .position.invalid-target:hover { background-color: rgba(0,0,0,0.6); }
  }
}
