
#battleView #textPanel {
  .fg-miss { color: rgb(67  67  67); }
  .bt-abl { color: rgb(160 120 150); } // Ability
  .bt-act { color: rgb(150 150 200); } // Acting Character or Monster
  .bt-tar { color: rgb(200 150 120); } // Target
  .bt-pst { color: rgb(120 190 110); } // Positive Status
  .bt-nst { color: rgb(190 100 180); } // Negative Status
  .bt-wep { color: rgb(100 150 60);  } // Weapon
}
