@use "../variables";

#characterOverlay {

  // === Layout ===

  .overlay {
    display: grid;
    background-color: rgba(20,20,20,0.6);
    grid-template-columns: 1fr 300px;
    grid-template-rows: 50px 1fr;

    .header-panel {
      grid-column: 1 / -1;
      grid-row: 1;
      display: flex;
      font-size: variables.$fs-bigger;
      border-bottom: variables.$border-light;
      padding: 10px 15px;
      .full-name { flex-grow:1 }
      .gender { margin-right:6px; }
    }
    .main-panel {
      grid-column: 1;
      grid-row: 2;
      flex-grow: 1;
      padding: 10px;
    }
    .side-panel {
      grid-column: 2;
      grid-row: 2;
      padding: 10px;
      overflow: hidden;
    }
  }

  .portrait {
    aspect-ratio: 2/3;
    width: 270px;
    margin-top: 31px;
    margin-bottom: 20px;
    background-color: #000;
    background-size: cover;
    border: 1px solid rgb(100,100,100); // The normal transparency fucks the image.
    box-shadow: variables.$shadow-portrait;
  }

  // TODO: We may want to make these the tab default styles.
  .tab-container {
    border: variables.$border-normal;
    background-color: #000;
    box-shadow: variables.$shadow-frame;
  }
  .tab.active {
    box-shadow: 0 1px 1px #000;
  }

  // TODO: Also default grid layout styles.
  .two-columns {
    display: grid;
    grid-template-columns: auto auto;
  }
  .four-columns {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  // === Panels ===

  .row-of-panels {
    display: flex;
  }

  .panel {
    flex-grow: 1;
    padding: 10px;
    margin: 10px 5px 10px;
    background-color: rgb(0,0,0);
    white-space: nowrap;
    border: variables.$border-light;
    box-shadow: variables.$shadow-dark;

    &:first-child { margin-left:0; }
    &:last-child { margin-right:0; }
  }
  .panel-label {
    display: inline-block;
    position: relative;
    top: -26px;
    left: 5px;
    font-family: 'roboto-bold', sans-serif;
    font-size: 16px;
    padding: 3px;
    color: variables.$fg-very-weak;
    background-color: #000;
    border-radius: 5px;
  }
  .panel-content {
    margin-top: -30px;
  }

  // === Tags ===

  .tag-area {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 10px;
    font-size: variables.$fs-big;
    border: variables.$border-very-light;
    box-shadow: variables.$shadow-dark;
    background-color: rgba(47, 41, 41, 0.3);
    .label { border-right: variables.$border-very-light; }
    .value { color: variables.$fg-strong; }
  }

  // === Specific Panel Styles ===

  .anima-animus {
    .label { color: variables.$fg-weak; }
    .value { font-family: 'roboto-medium', sans-serif; }
  }

}
