@use "../variables";

#characterOverlay {

  .overlay {
    display: flex;
    .main-panel {
      flex-grow: 1;
      padding: 10px;
      border-right: variables.$border-normal;
      background-color: rgba(25,25,25,0.4);
    }
    .side-panel {
      padding: 10px;
      width: 300px;
      overflow: hidden;
    }
  }

  // TODO: We may want to make these the tab default styles.
  .tab-container {
    border: variables.$border-normal;
    background-color: #000;
    box-shadow: variables.$shadow-frame;
  }
  .tab.active {
    box-shadow: 0 1px 1px #000;
  }

  .actor-row {
    display: flex;
    font-size: variables.$fs-bigger;
    border-bottom: variables.$border-light;
    margin-bottom: 10px;
    .full-name { flex-grow:1 }
    .gender { margin-right:6px; }
  }

  .row-of-panels {
    display: flex;
  }

  .panel {
    flex-grow: 1;
    padding: 10px;

    margin: 10px 5px 10px;
    background-color: rgb(0,0,0);

    border: variables.$border-light;
    box-shadow: variables.$shadow-dark;

    &:first-child { margin-left:0; }
    &:last-child { margin-right:0; }
  }
  .panel-label {
    display: inline-block;
    position: relative;
    top: -26px;
    left: 5px;
    font-family: 'roboto-bold', sans-serif;
    font-size: 16px;
    padding: 3px;
    color: variables.$fg-very-weak;
    background-color: #000;
    border-radius: 5px;
  }
  .panel-content {
    margin-top: -30px;
  }

  .tag-area {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    margin-right: 5px;
    margin-top: 5px;
    padding: 3px 10px;
    font-size: variables.$fs-big;
    border: variables.$border-very-light;
    box-shadow: variables.$shadow-dark;
    background-color: rgba(47, 41, 41, 0.3);
    .label { border-right: variables.$border-very-light; }
    .value { color: variables.$fg-strong; }
  }

  .anima-animus {
    .label { color: variables.$fg-weak; }
    .value { font-family: 'roboto-medium', sans-serif; }
  }

}

.two-columns {
  display: grid;
  grid-template-columns: auto auto;
}
.four-columns {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
