@use "../variables";

#dungeonView {
  #dungeonViewport {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: hidden;
    border: variables.$border-normal;
    background-color: #000;
  }
  #dungeonFloor {
    position: absolute;
    height: 800px;
    width: 800px;
    background-color: #111;
  }
}

#dungeonFloor .feature {
  position: absolute;

  .room-box {
    position: absolute;
  }
  .inner { background-color: #222; }
  .outer { background-color: #111; }
}
