@use "../variables";

// Temporary colors. Eventually we'll want to make this nicer looking. A background image or a tiling texture.
$bg-panel: rgb(10 10 10);
$bg-controls: rgb(5 5 5);

#dungeonControls {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 130px;
  z-index: variables.$z-dungeon-controls;

  border-top: variables.$border-normal;
  background-color: $bg-controls;
  box-shadow: 0px -10px 10px rgb(0 0 0 / 50%);

  .left-panel {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 130px;
    width: 100px;
    padding: 10px;
    background-color: $bg-panel;

    border-top: variables.$border-normal;
    border-right: variables.$border-normal;
    box-shadow: 5px -5px 5px rgb(0 0 0 / 50%);
  }

  .center-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 120px;
    right: 376px;

    .room-description {
      height: 67px;
      padding: 10px;
      overflow: hidden;
      font-size: variables.$fs-big;
      font-family: "habibi", serif;
    }

    .command-buttons {
      display: flex;
      gap: 5px;
      padding: 0 10px;
      justify-content: end;
    }
  }

  .formation-panel {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 5px;
    background-color: $bg-panel;

    border-top: variables.$border-normal;
    border-left: variables.$border-normal;
    box-shadow: -5px -5px 5px rgb(0 0 0 / 50%);
  }

  .formation-grid {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .rank {
      display: grid;
      grid-template-columns: repeat(5, 70px);
      gap: 4px;
    }

    .position {
      box-sizing: border-box;
      height: 70px;
      width: 70px;
      background-color: rgba(0,0,0,0.33);
      border: 1px solid rgb(20,20,20);
    }

    .party-card {
      position: relative;
      height: 100%;
      width: 100%;
      cursor: pointer;

      .name { display:none; }
    }
  }
}

#roomContentOverlay {
  .result-text {
    text-align: center;
  }

  .loot-list {
    margin-top: 10px;
    text-align: center;
  }
}
