@use "../variables";

#dungeonView {
  #dungeonViewport {
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    overflow: hidden;
    border: variables.$border-normal;
    background-color: rgb(30,30,30);
  }
  #dungeonFloor {
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: rgb(60,60,60);
  }
}

.feature-widget {
  position: absolute;

  box-sizing: border-box;

  .room-container {
    border: variables.$border-normal;
  }
  .room-box {
    position: absolute;
    background-color: rgba(80,70,60,0.2);
  }

  .hidden-room {
  }
}
