@use "../variables";

.feature-widget {
  position: absolute;

  box-sizing: border-box;

  .room-container {
    border: variables.$border-normal;
  }
  .room-box {
    background-color: rgba(80,70,60,0.2);
  }

  .hidden-room {
  }
}
