@use "../variables";

#enlightenView {

  .panel {
    margin-bottom: 20px;
    padding: 10px;
    border: variables.$border-light;
    box-shadow: variables.$shadow-frame;
    background-color: #111;
  }

  .title {
    margin-bottom: 10px;
    font-size: variables.$fs-bigger;
    font-family: "habibi", serif;
    color: variables.$fg-strong;
    border-bottom: variables.$border-normal;
  }

  .character-grid {
    display: grid;
    .character { display: contents; }
    .name {
      font-size: variables.$fs-big;
      font-family: "habibi", serif;
    }
  }

  .skill-improvements {
    .character-grid {
      grid-template-columns: max-content 1fr;
      align-items: baseline;
      gap: 5px 20px;
    }
  }

  .essence-bars {

    // We need the width column width to remain the same when a level up button is shown
    // and when they're all hidden. As of writing, the level up button was 62px wide.
    .character-grid {
      grid-template-columns: max-content 1fr 62px;
      align-items: end;
      gap: 15px 20px;
    }

    .name { margin-bottom: -5px; }
  }
}

#levelUpOverlay {
  padding: 10px;

  .title {
    margin-bottom: 10px;
    font-size: variables.$fs-big;
    font-family: "habibi", serif;
    color: variables.$fg-strong;
    border-bottom: variables.$border-normal;
  }

  .note {
    font-family: "habibi", serif;
    color: variables.$fg-weak;
    border-bottom: variables.$border-light;
  }

  .attributes {
    display: flex;
    flex-direction: column;
    margin: 20px 100px;

    li {
      display: flex;
      justify-content: space-between;
      padding: 2px 0;
    }
    li.selected { color: variables.$fg-strong; }
    li.unselected { opacity: 0.5; }

    .increase {
      font-family: "roboto-mono", monospace;
      font-size: variables.$fs-tiny;
      margin-right: 10px;
      opacity: 0.75;
    }
  }

  .attributes.enabled {
    .pick { cursor: pointer; }
    .pick:hover { color: variables.$fg-link-hover; }
  }
}
