@use "../variables";

#enlightenView {


  .title {
    margin-bottom: 10px;
    font-size: variables.$fs-big;
    font-family: "habibi", serif;
    color: variables.$fg-strong;
    border-bottom: variables.$border-normal;
  }

  .skill-improvements {
    background-color: #111;

    .characters {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 5px 20px;
      align-items: baseline;
    }

    .character { display: contents; }
  }
}
