@use "../layout";
@use "../variables";

#episodeView {
  @include layout.full-screen;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: variables.$z-root;

  p:first-child { margin-top: 0; }
  p { margin: 16px 0; }
  p:last-child { margin-bottom: 0; }
}

#episodeView .episode-frame {
  display: flex;
  flex-direction: column;
  background-color: rgba(0,0,0,0.70);
  border: variables.$border-normal;
  box-shadow: variables.$shadow-frame;
  backdrop-filter: blur(5px);
}

// When there are no buttons on this page, then clicking the frame will advance the text.
#episodeView .episode-frame:has(#episodeButtons.hide) { cursor: pointer; }

#episodeView.novel {
  align-items: end;
  .episode-frame {
    margin: 50px;
    height: 300px;
  }
}

#episodeView.centered {
  .episode-frame {
    height: 300px;
    width: 600px;
  }
}

#episodeView.large-centered {
  .episode-frame {
    height: 500px;
    width: 1000px;
  }
}

