@use "../variables";

#equipmentTab.active {
  display: flex;
}

#equipmentTab {
  .equipment-root {
    display: flex;
    flex-grow: 1;
    gap: 10px;
  }

  .slots-panel {
    width: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    border: variables.$border-light;
    background-color: rgb(20 20 20 / 0.5);
    .slot {
      margin: 5px;
      padding: 5px;
      border: variables.$border-light;
      box-shadow: variables.$shadow-shallow;
      background-color: rgb(0 0 0 / 0.2);
    }
    .slot-name {
      margin-bottom: 2px;
      font-size: variables.$fs-tiny;
      color: variables.$fg-weak;
    }
    .slot-content {
      margin-left: 10px;
      min-height: 22px;
    }
  }

  .item-panel {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .equipment-summary-panel {
    flex-grow: 1;
    padding: 10px;
    font-family: "habibi", serif;

    .title {
      margin-bottom: 10px;
      font-size: variables.$fs-big;
      border-bottom: variables.$border-normal;
    }
    .section {
      margin-bottom: 15px;
    }
    .section-title {
      margin-bottom: 5px;
      color: variables.$fg-weak;
    }

    .properties {
      font-size: variables.$fs-small;

      li {
        display: flex;
      }
      .label {
        flex: none;
        width: 90px;
      }
      .content {
        font-family: "Roboto", serif;
        color: variables.$fg-weak;
      }
    }

    .attack-row {
      display: flex;
      justify-content: center;
      gap: 30px;
    }
    .attack {
      .weapon {
        margin-bottom: 5px;
      }
      .properties {
        margin-left: 10px;
        li {
          margin-bottom: 4px;
        }
      }
    }
    .resistance-grid {
      display: grid;
      grid-template-columns: 90px repeat(var(--columns), 70px);
      justify-content: center;
      row-gap: 4px;
      font-size: variables.$fs-small;

      .heading, .amount {
        text-align: right;
      }
      .heading {
        color: variables.$fg-very-weak;
      }
      .amount {
        font-family: "Roboto", serif;
      }
      .amount.none {
        color: variables.$fg-very-weak;
      }
      .amount.vulnerable {
        color: variables.$fg-warning;
      }
    }
  }
}
