@use "../variables";

#featureViewer {
  .top-row { display: flex; }
  .top-info { flex-grow: 1; }

  .footprint {
    line-height: 30px;
    font-size: 30px;
  }

  ul.rooms {
    .room { color: variables.$fg-weak; }
  }

  .widget-area {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    border: variables.$border-light;

    .feature-widget {
      position: relative;
    }
  }
}