@use "../variables";

.inventory-panel {

  .inventory-main {
    display: flex;
  }

  .inventory-frame {
    height: 400px;
    flex-grow: 1;
    border: variables.$border-light;

    .item-row {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 0 6px;
      cursor: pointer;
      //font-family: 'roboto-light', sans-serif;

      .item-icon {
        height: 24px;
        width: 24px;
        margin-right: 6px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .item-row:hover {
      background-color: variables.$select-shade;
    }

    .item-name { opacity: 0.75; }

    .item-row.equipped .item-name {
      font-family: 'roboto-bold', sans-serif;
      opacity: 1;
    }

    .item-row.selected {
      background-color: variables.$select-active;
      color: variables.$fg-strong;
    }
  }

  .trade-frame {
    height: 400px;
    width: 200px;
    margin-left: 10px;
    border: variables.$border-light;

    .trade-title {
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      color: variables.$fg-weak;
      border-bottom: variables.$border-light;
    }

    .destination-list-frame {
      height: 370px;
    }

    .destination {
      padding: 5px 10px;
      cursor: pointer;
      //font-family: 'roboto-light', sans-serif;
    }

    .destination:hover {
      background-color: variables.$select-shade;
    }
  }
}
