@use "../variables";

#locationView {
  h3 {
    font-family: "habibi", serif;
    color: variables.$fg-weak;
    border-bottom: 1px solid variables.$fg-very-weak;
  }

  .location-body {
    margin: 50px 20px 0;
  }
}

