@use "../layout";
@use "../variables";

#mainMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: variables.$z-main-menu;

  .base-frame {
    width: 281px;
  }

  h3 {
    font-family: 'habibi', serif;
    font-size: 30px;
  }

  ul {
    a.button {
      position: relative;
      margin-bottom: 5px;
      width: 260px;
    }
  }
}

#menuCover {
  @include layout.full-screen;
  z-index: variables.$z-menu-cover;
  background-color: rgba(20,15,10,0.666);
  box-shadow: 0 0 100px 25px rgb(0,0,0) inset;
}

.close-menu-button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 12px;
  width: 12px;
  background-size: contain;
  opacity: 0.33;
  border: none;
}
.close-menu-button:hover {
  border: none;
  opacity: 0.66;
}