@use "../variables";

#optionsOverlay {
  position: absolute;
  inset: 0;
  z-index: variables.$z-options-overlay;

  .options-area {
    padding: 10px;
    background-color: rgb(25 25 28 / 80%);
    border: variables.$border-very-light;
    box-shadow: variables.$shadow-inset;
  }

  .key-bindings-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    align-items: start;
  }

  .binding-context h4 {
    margin-bottom: 10px;
  }

  .binding-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 10px;
    row-gap: 5px;
    align-items: center;

    .key-button {
      min-width: 40px;
      text-align: center;
    }
  }

  .with-percent {
    position: relative;

    input {
      width: 100%;
      box-sizing: border-box;
      padding-right: 16px;
    }

    &::after {
      content: "%";
      position: absolute;
      right: 4px;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
      color: variables.$fg-strong;
    }
  }
}
