@use "../variables";

#optionsOverlay {
  position: absolute;
  inset: 0;
  z-index: variables.$z-options-overlay;

  .options-area {
    padding: 10px;
    background-color: rgb(25 25 28 / 50%);
    border: variables.$border-very-light;
    box-shadow: variables.$shadow-inset;
  }
}
