@use "../variables";

#partyOverlay {

  .header-panel {
    padding: 10px 20px;
    font-size: variables.$fs-bigger;
    border-bottom: variables.$border-normal;
  }

  .formation-panel {
    position: relative;
    padding: 20px;
  }

  .rank-label {
    margin-bottom: 5px;
    font-size: variables.$fs-small;
    color: variables.$fg-weak;
  }

  .rank-row {
    display: grid;
    grid-template-columns: repeat(5, 140px);
    gap: 10px;
    margin-bottom: 15px;
  }

  .roster-panel {
    padding: 20px;
    border-top: variables.$border-light;
  }

}
