@use "../variables";

#trainingView {
  display: flex;
  flex-direction: column;

  // === Layout ===

  .top-row-panel {
    display: flex;

    .status-panel {
      flex-grow: 1;
      padding: 10px;
      background-color: rgba(0,0,0,0.50);
    }
    .position-panel {
      display: flex;
      align-items: center;
      justify-content: center;

      min-height: 180px;
      aspect-ratio: 1/1;

      background-color: rgba(0,0,0,0.75);
    }
  }

  .action-panel {
    .action-panel-top {
      display: flex;
      justify-content: flex-end;
      background-color: rgb(0,0,0);
    }
    .action-main-area {
      display: flex;
      background-color: rgba(0,0,0,0.5);
    }
    .action-list-panel {
      flex-grow: 1;
      padding: 5px;
      ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
        max-height: 250px;
      }
    }
  }

  .persisted-actions-panel {
    padding: 10px;
    background-color: rgba(0,0,0,0.75);
  }

  .output-text-panel {
    flex-grow: 1;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
  }

  // === Details ===

  .toggle-switch {
    color: rgb(160,160,160);
    font-size: variables.$fs-big;
    &:hover { color:rgb(200,200,200); }
  }

  .toggles {
    a {
      font-size: variables.$fs-big;
    }
    &.inactive {
      a { color:rgb(160,160,160); }
      a:hover { color:rgb(200,200,200); }
    }
    &.active {
      a.off { color:rgb(80,80,80); }
      a.on  { color:rgb(250,250,250); }
    }
    &.top {
      display: flex;
      justify-content: flex-end;
      padding: 5px;
      li { margin-right: 10px; }
    }
    &.side {
      padding: 10px 10px 0;
      background-color: rgb(0,0,0);
      li { margin-bottom: 5px; }
    }
  }

  .sex-action {
    margin: 3px;
    color: rgb(150,150,150);
    font-size: variables.$fs-big;
  }

}
