@use "../variables";

$bg-action-panel: rgba(0,0,0,0.25);
$bg-top-panel: rgb(0,0,0,0.5);

// === Toggles ===
// Will these be used any other place? They're just super simplified radio
// buttons, so it seems we might.
$fg-toggle-active-on: rgb(250,250,250);
$fg-toggle-active-off: rgb(80,80,80);
$fg-toggle-inactive: rgb(160,160,160);
$fg-toggle-inactive-hover: rgb(200,200,200);

.toggles {
  a {
    font-size: variables.$fs-big;
  }
  &.inactive {
    a { color: $fg-toggle-inactive; }
    a:hover { color: $fg-toggle-inactive-hover; }
  }
  &.active {
    a.off { color: $fg-toggle-active-off; }
    a.on  { color: $fg-toggle-active-on; }
  }
}

// === Consent Classes ===
// Pretty sure the events will also need to use the same consent colors.

.fg-unavailable {
  color: variables.$fg-unavailable;
  border-color: variables.$fg-unavailable-b;
}
.fg-unwilling {
  color: variables.$fg-unwilling;
  border-color: variables.$fg-unwilling-b;
}
.fg-reluctant {
  color: variables.$fg-reluctant;
  border-color: variables.$fg-reluctant-b;
}
.fg-willing {
  color: variables.$fg-willing;
  border-color: variables.$fg-willing-b;
}
.fg-eager {
  color: variables.$fg-eager;
  border-color: variables.$fg-eager-b;
}

// === Training View Layout ===

#trainingView {
  display: flex;
  flex-direction: column;

  .panel {
    background-color: $bg-top-panel;
    border: variables.$border-normal;
    box-shadow: variables.$shadow-frame;
  }

  #statusRow {
    display: flex;
    padding: 40px 10px 0;

    .partner-status-panel {
      flex-grow: 1;
      padding: 10px 20px;
      font-size: variables.$fs-bigger;

      .name-row {
        display: flex;
        border-bottom: variables.$border-light;
      }
      .status-effects { flex-grow: 1; }
    }

    .extra-status-panel {
      flex-grow: 1;
      padding: 10px 20px;
      margin: 0 10px;
      font-size: variables.$fs-bigger;
    }

    .position-panel {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 180px;
      box-sizing: border-box;
      aspect-ratio: 1/1;

      .position-frame {
        height: 180px;
        width: 180px;
      }
    }
  }

  #scalesRow {
    padding: 10px 10px 0;

    .scales-panel {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      padding: 10px;
      min-height: 30px;

      .cell { padding: 10px; }
    }
  }

  #persistedRow {
    padding: 10px 10px 0;
    #persistedActionScroll { max-height: 200px; }
    #persistedActions { padding: 10px; }
  }

  #actionRow {
    padding: 10px 10px 0;

    .action-panel {
      padding: 10px;

      .action-panel-top {
        display: flex;
        justify-content: flex-end;
      }
      .action-main-area {
        display: flex;
      }
      .action-list-panel {
        flex-grow: 1;
        padding: 5px;
        background-color: $bg-action-panel;
        border: variables.$border-light;
        box-shadow: variables.$shadow-shallow;

        ul {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
          max-height: 250px;
        }
      }
    }
  }

  #outputRow {
    padding: 10px;
    flex-grow: 1;
  }

  // Style should match a toggle link, but it's not part of the toggles. This
  // 'switch' changes which toggles are visible.
  .toggle-switch {
    color: $fg-toggle-inactive;
    font-size: variables.$fs-big;
    &:hover { color:$fg-toggle-inactive-hover; }
  }

  .toggles.top {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    li { margin-right: 10px; }
  }

  .toggles.side {
    padding: 10px 10px 0;
    li { margin-bottom: 5px; }
  }

  .sex-action {
    margin: 3px;
    font-size: variables.$fs-big;
  }
}

// === Tooltip ===
// Tooltips are outside of the primary view element.

.sex-action-tooltip {
  padding: 5px;
  width: 400px;

  .calculation {
    font-family: 'roboto-mono', monospace;
    font-size: variables.$fs-small;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
  }
  .break {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: inherit;
  }
  .target {
    margin: 4px 6px 2px;
    color: variables.$fg-strong;
  }
  .math {
    margin: 0 10px 4px;
    color: variables.$fg-body;
  }
  .result {
    margin: 4px 6px;
  }
}
