@use "../variables";

#trainingView {
  display: flex;
  flex-direction: column;

  .painal {
    border: 1px solid black;
  }

  .top-row-panel {
    display: flex;

    .status-panel {
      flex-grow: 1;
      padding: 10px;
      background-color: rgba(0,0,0,0.50);
    }
    .position-panel {
      display: flex;
      align-items: center;
      justify-content: center;

      min-height: 180px;
      aspect-ratio: 1/1;

      background-color: rgba(0,0,0,0.75);
    }
  }

  .action-panel {

    .action-panel-top {
      display: flex;
      justify-content: flex-end;

      background-color: rgb(0,0,20);
    }

    .top-category-toggles {
      display: flex;
      justify-content: flex-end;

      padding: 5px;
      background-color: rgb(20,0,0);

      li { margin-right: 10px; }
    }

    .action-main-area {
      display: flex;
      background-color: rgba(0,0,0,0.5);
    }

    .side-category-toggles {
      padding: 10px 10px 0;
      background-color: rgb(0,0,0);

      li { margin-bottom: 5px; }
    }
    .action-list-panel {
      flex-grow: 1;
      padding: 5px;

      ul {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 250px;
      }
      li { margin: 5px; }
    }
  }

  .persisted-actions-panel {
    padding: 10px;
    background-color: rgba(0,0,0,0.75);
  }

  .output-text-panel {
    flex-grow: 1;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
  }

}