@use "../layout";
@use "../variables";

#effectArea {
  @include layout.full-screen;
    z-index: variables.$z-effects;
    pointer-events: none;

  .flash-square {
    position: absolute;
    background-color: rgba(250,250,250,0.9);
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.6);
  }
}
