@use "../layout";
@use "../variables";

#effectArea {
  @include layout.full-screen;
  z-index: variables.$z-effects;
  pointer-events: none;

  .flash-square {
    position: absolute;
    transition-property: opacity;
    transition-timing-function: ease-in;
    transition-duration: 500ms;
    z-index: 1;
  }
  .fade {
    opacity: 0;
  }
}
