@use "../variables";

#gameStateFrame {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;

  flex-direction: row;

  background-color: rgb(0,0,0);
  border-bottom: variables.$border-normal;
  box-shadow: variables.$shadow-frame;
  z-index: variables.$z-game-state;

  // In order to make the status bars properly centered the two side chunks are
  // set to a fixed size. We may need to adjust this size if we have long
  // location names or the status effect list grows too long.
  .fixed-size {
    width: 220px;
    overflow: hidden;
  }
  .status-bar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  .chunk {
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
  }
  .left {
    display: flex;
    padding: 0 5px;
  }
  .center {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
  .right {
    display: flex;
    justify-content: flex-end;
    padding: 0 5px;
  }

  .health { color: variables.$fg-health; }
  .stamina { color: variables.$fg-stamina; }
  .mana { color: variables.$fg-mana;  }
  .arousal { color: variables.$fg-arousal;  }
  .time { color: variables.$fg-weak; }
}
