@use "../variables";

#testFrame {
  position: absolute;

  top: 100px;
  bottom: 20px;
  right: 20px;
  width: 440px;

  border: variables.$border-normal;
  box-shadow: variables.$shadow-frame;
  background-color: variables.$bg-light;
  z-index: variables.$z-viewport;

  .header {
    position: fixed;
    background-color: rgb(0, 0, 0);
    top: 20px;
    right: 20px;
    width: 440px;
    height: 80px;
    border: variables.$border-normal;
    box-shadow: variables.$shadow-frame;
  }

  .scrolling-panel-content {
    max-width: 430px;
  }

  #mocha-stats {
    top: 20px;
    right: 20px;
    width: 400px;
    height: 45px;
    padding: 20px;

    .progress-text { margin-top:20px; }
  }

  #mocha {
    margin: 0;
    padding-bottom: 20px;

    h1 { font-family:'roboto-mono'; }
    h2 { font-family:'roboto-mono-thin'; }

    h1, h2 {
      font-size: 8pt;
      line-height: 1.5;
    }

    pre {
      font-size: 7pt;
      font-family: 'roboto-mono';
      max-width: 330px;
      overflow: hidden;
      border: variables.$border-light;
      box-shadow: variables.$shadow-dark;
      background-color: rgba(50,50,60,0.3);
    }

    .replay { display:none; }
  }

  &.with-failures {
    width: 990px;
    background-color: rgba(7,0,0,0.7);

    .header { width: 990px; }
    .scrolling-panel-content { max-width: 980px; }

    #mocha-stats { width: 950px; }
    #mocha pre { max-width: 920px; }
    #mocha pre.error { background-color: rgba(60,20,20,0.3); }
  }
}

#testLogFrame {
  position: absolute;

  top: 20px;
  bottom: 20px;
  left: 20px;
  width: 455px;

  border: variables.$border-normal;
  box-shadow: variables.$shadow-frame;
  background-color: variables.$bg-light;
  z-index: variables.$z-viewport;

  h1 {
    margin: 20px 10px 0;
    padding-bottom: 5px;
    font-size: variables.$fs-bigger;
    line-height: 1;
    border-bottom: variables.$border-normal;
  }

  p {
    font-family: 'roboto-mono';
    font-size: variables.$fs-small;
    margin: 0 10px 0 30px;
  }
}
