@use "../variables";

#confirmationDialog {

  .confirm-window {
    position: absolute;
    width: 600px;
    height: 200px;
    top: 200px;
    left: calc((100% - 600px)/2);

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: variables.$bg-frame;
    border: variables.$border-normal;
    border-bottom: none;
    box-shadow: variables.$shadow-frame;
    z-index: variables.$z-confirmation-window;
  }

  .confirm-buttons {
    position: absolute;
    width: 580px;
    top: 400px;
    left: calc((100% - 600px)/2);

    padding: 10px;
    text-align: center;

    background-color: variables.$bg-dark;
    border: variables.$border-normal;
    box-shadow: variables.$shadow-frame;
    z-index: variables.$z-confirmation-footer;

    .button-big { width: 10em; }
    .no-button { margin-right: 20px; }
  }

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20,15,10,0.666);
    z-index: variables.$z-confirmation-cover;
  }

  .confirm-text {
    color: variables.$fg-strong;
    font-size: variables.$fs-bigger;
  }

  .delete-game-confirmation {
    .question { color: variables.$fg-button-danger; }
    .details { font-size: variables.$fs-big; }
    .name {
      color: variables.$fg-strong;
      font-size: variables.$fs-bigger;
    }
  }
}
