@use "../variables";

// The item panel and item detail panel can be placed inside of other inventory displaying frames. The use item battle
// command will need to show a list of items that can be used. The character overlay equipment tab will eventually need
// to display item details.

.item-panel {
  li {
    display: flex;
    align-items: center;
    padding: 2px 5px;
    margin-bottom: 2px;
    white-space: nowrap;
  }
  li:last-child {
    margin-bottom: 0;
  }
  .item-icon {
    flex: none;
    height: 24px;
    width: 24px;
    margin-right: 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .selected {
    background-color: variables.$select-active;
  }
}

.item-detail-panel {
  background-color: rgb(130 88 128 / 0.25);
}
