@use "../variables";

// The item panel and item detail panel can be placed inside of other inventory displaying frames. The use item battle
// command will need to show a list of items that can be used. The character overlay equipment tab will eventually need
// to display item details.

.item-panel {
  li {
    display: flex;
    align-items: center;
    padding: 5px;
    white-space: nowrap;
    cursor: pointer;
  }
  li:last-child {
    margin-bottom: 0;
  }
  li:hover { background-color: variables.$select-hover; }
  .selected { background-color: variables.$select-active; }
  .selected:hover { background-color: variables.$select-active-hover; }
}

.item-detail-panel {
  .details {
    padding: 10px;
    font-family: "habibi", serif;
  }
  .name {
    margin-bottom: 5px;
    border-bottom: variables.$border-normal;
  }
  .description {
    margin-bottom: 10px;
    color: variables.$fg-weak;
  }
  .properties li {
    margin-bottom: 10px;
  }
  .value {
    display: flex;
    gap: 8px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: variables.$border-normal;
  }
}

.item-detail-panel {
  .properties {
    font-size: variables.$fs-small;

    li {
      display: flex;
    }
    .label {
      flex: none;
      width: 90px;
    }
    .content {
      font-family: "Roboto", serif;
      color: variables.$fg-weak;
    }
  }
}

.item-name {
  display: inline-flex;
  align-items: center;
  font-family: Roboto, "sans-serif";

  .item-icon {
    flex: none;
    background-color: currentColor;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }

  &.small {
    font-size: variables.$fs-body;
    .item-icon {
      height: 20px;
      width: 20px;
      margin-right: 6px;
    }
  }

  &.large {
    font-size: variables.$fs-big;
    .item-icon {
      height: 26px;
      width: 26px;
      margin-right: 10px;
    }
  }

  &.common      { color: variables.$fg-common; }
  &.unusual     { color: variables.$fg-unusual; }
  &.rare        { color: variables.$fg-rare; }
  &.astonishing { color: variables.$fg-astonishing; }
  &.unheardOf   { color: variables.$fg-unheard-of; }
}
