@use "../variables";

#selectFrame {
  position: absolute;
  padding: 10px;
  z-index: variables.$z-select;

  .select {
    background-color: rgb(10,10,10);
    border: variables.$border-normal;
    border-radius: 3px;
    box-shadow: variables.$shadow-frame;
  }
  .select li {
    padding: 5px 10px;
  }
  .select li:hover {
    background-color: variables.$select-shade;
  }
}
