@use "../variables";

.slider {
  height: 20px;
  background-color: variables.$bg-scrolling-panel-track;
  box-shadow: variables.$shadow-scrolling-panel-track;

  .knob {
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: variables.$bg-scrolling-panel-thumb;
    box-shadow: variables.$shadow-scrolling-panel-thumb
  }
  .knob:hover {
    background-color: variables.$bg-scrolling-panel-thumb-hover;
  }
}

// Used in the options overlay to display the difficulty sliders in a grid, but could be used elsewhere.
.slider-grid {
  display: grid;
  grid-template-columns: 80px 1fr 80px;
  column-gap: 10px;
  row-gap: 5px;
}
