@use "../variables";

.skill-tag {
  display: inline-flex;
  margin-left: 5px;

  border: variables.$border-normal;
  box-shadow: variables.$shadow-dark;
  border-radius: 4px;

  span { padding: 1px 6px; }
  .label { border-right: variables.$border-normal; }
}
