@use "../variables";

.result-blocks {
  margin-bottom: 10px;
}

.result-block {
  display: inline-block;
  padding: 5px 10px;
  background-color: rgb(0,0,0);
  box-shadow: variables.$shadow-button;
  border: variables.$border-normal;
  border-radius: 5px;
  font-size: variables.$fs-body;
}

.result-block.gain { color: variables.$fg-success; }
.result-block.loss { color: variables.$fg-warning; }

.large-note {
  padding: 20px;
  text-align: center;
  font-size: variables.$fs-bigger;
  color: variables.$fg-strong;
}
