
$skinColor-porcelain: #FFEFDB;
$skinColor-ivory: #FFEBCD;
$skinColor-fair: #FFE0BD;
$skinColor-light: #F5DEB3;
$skinColor-warm: #F0D2A0;
$skinColor-medium: #E6BE8C;
$skinColor-olive: #D2B48C;
$skinColor-golden: #C6A078;
$skinColor-sunkissed: #BC966E;
$skinColor-tan: #B48C64;
$skinColor-caramel: #A5825A;
$skinColor-richTan: #967350;
$skinColor-deepTan: #8C6946;
$skinColor-richBrown: #785A3C;
$skinColor-deepBrown: #644B32;
$skinColor-darkBrown: #503C28;
$skinColor-ebony: #3C2D1E;

$scaleColor-red: #C41E3A;
$scaleColor-gold: #DAA520;
$scaleColor-green: #108030;
$scaleColor-blue: #2040B0;
$scaleColor-purple: #7111B1;
$scaleColor-black: #252527;
$scaleColor-gray: #666666;

$hairColor-white: #E8E8E8;
$hairColor-platinumBlond: #E0D6D0;
$hairColor-blond: #E8D5A3;
$hairColor-strawberryBlond: #C99F99;
$hairColor-goldenBlond: #D4B37A;
$hairColor-darkBlond: #998875;
$hairColor-lightBrown: #B89778;
$hairColor-brown: #7A5C3D;
$hairColor-copper: #804020;
$hairColor-auburn: #A0522D;
$hairColor-chestnut: #7D4F2E;
$hairColor-darkBrown: #4A3728;
$hairColor-blackBrown: #292620;
$hairColor-black: #252527;
$hairColor-jetBlack: #202023;
$hairColor-darkRed: #401010;
$hairColor-red: #702020;
$hairColor-gray: #8C8C8C;
$hairColor-lightBlue: #A7C7E7;
$hairColor-blue: #5A7D9A;
$hairColor-darkBlue: #2F4F6F;
$hairColor-lightGreen: #A8CAAA;
$hairColor-green: #5B6E43;
$hairColor-darkGreen: #3A4F3A;
$hairColor-lightPurple: #B19CD9;
$hairColor-purple: #6A4C93;
$hairColor-darkPurple: #4A3556;
$hairColor-pink: #DD88BB;

$eyeColor-purple: #9370DB;
$eyeColor-pink: #FF69B4;
$eyeColor-red: #C41E3A;
$eyeColor-gold: #DAA520;
$eyeColor-brown: #6B4423;
$eyeColor-hazel: #8B7355;
$eyeColor-amber: #FFB347;
$eyeColor-green: #428B42;
$eyeColor-blue: #4169E1;
$eyeColor-gray: #778899;
$eyeColor-black: #303035;

.fg-skin-color-porcelain { color:$skinColor-porcelain }
.fg-skin-color-ivory { color:$skinColor-ivory }
.fg-skin-color-fair { color:$skinColor-fair }
.fg-skin-color-light { color:$skinColor-light }
.fg-skin-color-warm { color:$skinColor-warm }
.fg-skin-color-medium { color:$skinColor-medium }
.fg-skin-color-olive { color:$skinColor-olive }
.fg-skin-color-golden { color:$skinColor-golden }
.fg-skin-color-sunkissed { color:$skinColor-sunkissed }
.fg-skin-color-tan { color:$skinColor-tan }
.fg-skin-color-caramel { color:$skinColor-caramel }
.fg-skin-color-richTan { color:$skinColor-richTan }
.fg-skin-color-deepTan { color:$skinColor-deepTan }
.fg-skin-color-richBrown { color:$skinColor-richBrown }
.fg-skin-color-deepBrown { color:$skinColor-deepBrown }
.fg-skin-color-darkBrown { color:$skinColor-darkBrown }
.fg-skin-color-ebony { color:$skinColor-ebony }

.fg-scale-color-red{ color:$scaleColor-red; }
.fg-scale-color-gold { color:$scaleColor-gold; }
.fg-scale-color-green { color:$scaleColor-green; }
.fg-scale-color-blue { color:$scaleColor-blue; }
.fg-scale-color-purple { color:$scaleColor-purple; }
.fg-scale-color-black { color:$scaleColor-black; }
.fg-scale-color-gray { color: $scaleColor-gray; }

.fg-hair-color-white { color: $hairColor-white }
.fg-hair-color-platinumBlond { color: $hairColor-platinumBlond }
.fg-hair-color-blond { color: $hairColor-blond }
.fg-hair-color-strawberryBlond { color: $hairColor-strawberryBlond }
.fg-hair-color-goldenBlond { color: $hairColor-goldenBlond }
.fg-hair-color-darkBlond { color: $hairColor-darkBlond }
.fg-hair-color-lightBrown { color: $hairColor-lightBrown }
.fg-hair-color-brown { color: $hairColor-brown }
.fg-hair-color-copper { color: $hairColor-copper }
.fg-hair-color-auburn { color: $hairColor-auburn }
.fg-hair-color-chestnut { color: $hairColor-chestnut }
.fg-hair-color-darkBrown { color: $hairColor-darkBrown }
.fg-hair-color-blackBrown { color: $hairColor-blackBrown }
.fg-hair-color-black { color: $hairColor-black }
.fg-hair-color-jetBlack { color: $hairColor-jetBlack }
.fg-hair-color-darkRed { color: $hairColor-darkRed }
.fg-hair-color-red { color: $hairColor-red }
.fg-hair-color-gray { color: $hairColor-gray }
.fg-hair-color-lightBlue { color: $hairColor-lightBlue }
.fg-hair-color-blue { color: $hairColor-blue }
.fg-hair-color-darkBlue { color: $hairColor-darkBlue }
.fg-hair-color-lightGreen { color: $hairColor-lightGreen }
.fg-hair-color-green { color: $hairColor-green }
.fg-hair-color-darkGreen { color: $hairColor-darkGreen }
.fg-hair-color-lightPurple { color: $hairColor-lightPurple }
.fg-hair-color-purple { color: $hairColor-purple }
.fg-hair-color-darkPurple { color: $hairColor-darkPurple }
.fg-hair-color-pink { color: $hairColor-pink }

.fg-eye-color-purple { color: $eyeColor-purple }
.fg-eye-color-pink { color: $eyeColor-pink }
.fg-eye-color-red { color: $eyeColor-red }
.fg-eye-color-gold { color: $eyeColor-gold }
.fg-eye-color-brown { color: $eyeColor-brown }
.fg-eye-color-hazel { color: $eyeColor-hazel }
.fg-eye-color-amber { color: $eyeColor-amber }
.fg-eye-color-green { color: $eyeColor-green }
.fg-eye-color-blue { color: $eyeColor-blue }
.fg-eye-color-gray { color: $eyeColor-gray }
.fg-eye-color-black { color: $eyeColor-black }
