
$skinColor-porcelain: #FFEFDB;
$skinColor-ivory: #FFEBCD;
$skinColor-fair: #FFE0BD;
$skinColor-light: #F5DEB3;
$skinColor-warm: #F0D2A0;
$skinColor-medium: #E6BE8C;
$skinColor-olive: #D2B48C;
$skinColor-golden: #C6A078;
$skinColor-sunkissed: #BC966E;
$skinColor-tan: #B48C64;
$skinColor-caramel: #A5825A;
$skinColor-richTan: #967350;
$skinColor-deepTan: #8C6946;
$skinColor-richBrown: #785A3C;
$skinColor-deepBrown: #644B32;
$skinColor-darkBrown: #503C28;
$skinColor-ebony: #3C2D1E;

$scaleColor-red: #C41E3A;
$scaleColor-gold: #DAA520;
$scaleColor-green: #108030;
$scaleColor-blue: #2040B0;
$scaleColor-purple: #7111B1;
$scaleColor-black: #121212;
$scaleColor-gray: #666666;

$hairColor-white: #E8E8E8;
$hairColor-platinumBlond: #E0D6D0;
$hairColor-blond: #E8D5A3;
$hairColor-strawberryBlond: #C99F99;
$hairColor-goldenBlond: #D4B37A;
$hairColor-darkBlond: #998875;
$hairColor-lightBrown: #B89778;
$hairColor-brown: #7A5C3D;
$hairColor-copper: #804020;
$hairColor-auburn: #A0522D;
$hairColor-chestnut: #7D4F2E;
$hairColor-darkBrown: #4A3728;
$hairColor-blackBrown: #292620;
$hairColor-black: #202020;
$hairColor-jetBlack: #181818;
$hairColor-darkRed: #401010;
$hairColor-red: #702020;
$hairColor-gray: #8C8C8C;
$hairColor-lightBlue: #A7C7E7;
$hairColor-blue: #5A7D9A;
$hairColor-darkBlue: #2F4F6F;
$hairColor-lightGreen: #A8CAAA;
$hairColor-green: #5B6E43;
$hairColor-darkGreen: #3A4F3A;
$hairColor-lightPurple: #B19CD9;
$hairColor-purple: #6A4C93;
$hairColor-darkPurple: #4A3556;
$hairColor-pink: #DD88BB;

$eyeColor-purple: #9370DB;
$eyeColor-pink: #FF69B4;
$eyeColor-red: #C41E3A;
$eyeColor-gold: #DAA520;
$eyeColor-brown: #6B4423;
$eyeColor-hazel: #8B7355;
$eyeColor-amber: #FFB347;
$eyeColor-green: #428B42;
$eyeColor-blue: #4169E1;
$eyeColor-gray: #778899;
$eyeColor-black: #0F1419;
