


// === Habibi ===

@font-face {
  font-family: habibi;
  src: url("../assets/fonts/Habibi-Regular.ttf");
}

// === Roboto ===

@font-face {
  font-family: roboto-bold;
  src: url("../assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: roboto-medium;
  src: url("../assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: roboto;
  src: url("../assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: roboto-light;
  src: url("../assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: roboto-thin;
  src: url("../assets/fonts/Roboto-Thin.ttf");
}

// === Roboto Mono ===

@font-face {
  font-family: roboto-mono-bold;
  src: url("../assets/fonts/RobotoMono-Bold.ttf");
}

@font-face {
  font-family: roboto-mono-medium;
  src: url("../assets/fonts/RobotoMono-Medium.ttf");
}

@font-face {
  font-family: roboto-mono;
  src: url("../assets/fonts/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: roboto-mono-light;
  src: url("../assets/fonts/RobotoMono-Light.ttf");
}

@font-face {
  font-family: roboto-mono-thin;
  src: url("../assets/fonts/RobotoMono-Thin.ttf");
}

.font-habibi { font-family:'habibi', sans-serif }
.font-roboto-bold { font-family:'roboto-bold', sans-serif }
.font-roboto-medium { font-family:'roboto-medium', sans-serif }
.font-roboto { font-family:'roboto', sans-serif }
.font-roboto-light { font-family:'roboto-light', sans-serif }
.font-roboto-thin { font-family:'roboto-thin', sans-serif }
.font-roboto-mono-bold { font-family:'roboto-mono-bold', sans-serif }
.font-roboto-mono-medium { font-family:'roboto-mono-medium', sans-serif }
.font-roboto-mono { font-family:'roboto-mono', monospace }
.font-roboto-mono-light { font-family:'roboto-mono-light', monospace }
.font-roboto-mono-thin { font-family:'roboto-mono-thin', monospace }
